.app {
  display: flex;
  //justify-content: center;
}

.field {
  height: 330px;
  width: 330px;
  margin: 0 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

