.numberLine {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterField {
  display: flex;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

