.table {
  tr,
  td {
    border: 1px solid #888;
    border-collapse: collapse;
  }

  td {
    width: 30px;
    height: 30px;
  }

  border-collapse: collapse;
}

.cellMark {
  background-color: palegreen;
}

.overCell {
  background-color: cornflowerblue;
}


