.table {

  tr,
  td {
    border: 1px solid #888;
    border-collapse: collapse;
    height: 30px;
  }

  td {
    width: 30px;
  }

  border-collapse: collapse;

}

.use {
  background-color: rgb(243, 87, 87);
}

.ship {
  background-color: cyan;
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 5px;
    width: 5px;
    background-color: #888888;
    border-radius: 50%;
  }
}


