.ship {
    border: 1px solid #ccc;
    display: flex;
    margin: 5px 5px 0 0;
}

.shipPart {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
}

.moveShip {
    composes: ship;
    position: absolute;
    margin: 0;
}

.currentShip {
    display: flex;
}
