.ship {
    border: 1px solid #ccc;
    display: flex;
    margin: 5px 5px 0 0;
}

.shipPart {
    width: 28px;
    height: 28px;
    background-color: aquamarine;
}

.moveShip {
    composes: ship;
    position: absolute;
    top: 0;
}
