.cell {
  height: 30px;
  width: 30px;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
}

.seaCellLast {
  composes: cell;
  border-right: 1px solid #888;
}

.cellMark {
  composes: cell;
  background-color: palegreen;
}

.cellMarkLast {
  composes: seaCellLast;
  background-color: palegreen;
}

