.seaCell {
  height: 30px;
  width: 30px;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
}

.seaCellLast {
  height: 30px;
  width: 30px;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}

.selected {
  background-color: palegreen;
}
